{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "universal-restrictor.fullname" . }}
  labels:
    {{- include "universal-restrictor.labels" . | nindent 4 }}
spec:
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  selector:
    matchLabels:
      {{- include "universal-restrictor.selectorLabels" . | nindent 6 }}
{{- end }}
